
.nav-list{
        border: 5px solid #ffcc5c;
        display: flex;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-list li{
    flex-shrink: 1;
    flex-grow: 0;
    

}
